#Server Settings
PORT=
#DB Settings
DATABASE_HOST=""
DATABASE_POST=
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_NAME=""
#JWT
JWT_SECRET=""
#Blizard API
BLIZZARD_CLIENT_ID=""
BLIZZARD_CLIENT_SECRET=""